@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

/* - Mobile: 375px
- Desktop: 1440px
 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", serif;
}

:root {
  --light-font: 400;
  --normal-font: 500;
  --semi-heavy-font: 700;
  --heavy-font: 800;
  --neutral-0: hsl(0, 0%, 100%);
  --neutral-300: hsl(252, 6%, 83%);
  --neutral-350: hsla(252, 6%, 83%, 0.089);
  --neutral-500: hsl(245, 15%, 58%);
  --neutral-700: hsl(245, 19%, 35%);
  --neutral-900: hsl(248, 70%, 10%);
  --orange-500: hsl(7, 88%, 67%);
  --orange-700: #e16151;
}

.orangeNeutralGradient {
  background: linear-gradient(to right, hsl(7, 86%, 67%), hsl(0, 0%, 100%));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

html {
  /* 125% of 16px is 20px  */
  font-size: 125%;
}

body {
  background-image: url("./assets/images/background-mobile.png");
  color: var(--neutral-0);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  text-align: center;
  margin: 2rem auto;
}

header img {
  cursor: pointer;
  width: 10em;
}

.form-description {
  text-align: center;
}

.form-description h2 {
  font-weight: var(--heavy-font);
  font-size: 1.5rem;
  width: 90%;
  margin: 1rem auto;
}

.form-description p {
  font-weight: var(--normal-font);
  color: var(--neutral-300);
  font-size: 0.85rem;
  width: 80%;
  margin: 0.1rem auto;
}

form {
  margin: 2rem 0;
  padding: 0 1em;
}

fieldset {
  border: none;
  margin-bottom: 1em;
}

legend {
  font-weight: var(--normal-font);
  font-size: 0.85rem;
  margin: 0.75em 0;
}

input {
  display: block;
  width: 100%;
  border: 2px solid var(--neutral-500);
  background-color: var(--neutral-350);
  border-radius: 0.75em;
  padding: 1.25em;
  outline: none;
  color: var(--neutral-300);
  font-size: 0.75rem;
  cursor: pointer;
}

.fieldset-label-layout {
  background-color: var(--neutral-350);
  border: 2px dashed var(--neutral-500);
  padding: 1em;
  text-align: center;
  border-radius: 0.75em;
  cursor: pointer;
  position: relative;
}

.fieldset-label-layout img {
  width: 2em;
  background-color: var(--neutral-700);
  padding: 0.35em;
  border-radius: 0.5em;
}

.fieldset-label-layout p {
  margin-top: 1em;
  font-size: 0.8rem;
  color: var(--neutral-500);
}

#imageInput {
  /* display: none; */
  /* display none will return an error for a required input */
  opacity: 0;
  z-index: -1;
  position: absolute;
  width: 0;
  bottom: 10%;
  left: 30%;
}

#uploaded-image {
  width: 2.5em;
  background-color: none;
  padding: 0;
  border-radius: 0.5em;
  border: 1px solid var(--neutral-500);
  cursor: pointer;
}

.edit-upload-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.55em;
  margin-top: 0.75em;
}

.edit-upload-layout button {
  width: 7.5em;
  font-size: 0.5rem;
  background-color: var(--neutral-700);
  color: var(--neutral-300);
  padding: 0.6em;
  cursor: pointer;
}

.uploadStatus,
.emailValidStatus,
.errorUploadStatus {
  margin-top: 0.4em;
  font-size: 0.56rem;
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--neutral-300);
}

.uploadStatus img,
.emailValidStatus img,
.errorUploadStatus img {
  width: 1.5em;
}

.emailValidStatus,
.errorUploadStatus {
  color: var(--orange-500);
}

label {
  font-weight: var(--normal-font);
  font-size: 0.85rem;
}

.input-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-bottom: 1em;
}

input::-webkit-input-placeholder {
  color: var(--neutral-300);
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder,
input::placeholder {
  color: var(--neutral-300);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--neutral-300);
  -webkit-box-shadow: 0 0 0px 1000px var(--neutral-350) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

button {
  background-color: var(--orange-500);
  border: none;
  padding: 0.65em;
  font-size: 1rem;
  font-weight: var(--semi-heavy-font);
  color: var(--neutral-900);
  width: 100%;
  border-radius: 0.5em;
  cursor: pointer;
}

/* BACKGROUND PATTERN IMAGES */

#bg-lines {
  z-index: -1;
  position: absolute;
  max-width: 100%;
  top: 0%;
  /* left: 0; */
  /* min-height: 70%; */
}

/* change position in tablet and desktop*/
#bg-circle {
  z-index: -2;
  position: fixed;
  top: -2%;
  left: -5%;
  width: 6em;
}

#bg-squiggly-top {
  z-index: -2;
  position: fixed;
  top: 5%;
  right: 0;
  width: 7.5em;
}

#bg-squiggly-bottom-mobile {
  z-index: -2;
  max-height: 12em;
  position: fixed;
  bottom: -10%;
}

.displayNone {
  display: none;
}

/* TICKET SECTION */

.ticket-description {
  text-align: center;
}

.ticket-header {
  font-weight: var(--heavy-font);
  font-size: 1.5rem;
  width: 90%;
  margin: 1rem auto;
}

.ticket-email-info {
  font-weight: var(--normal-font);
  color: var(--neutral-300);
  font-size: 0.85rem;
  width: 80%;
  margin: 0.1rem auto;
}

.ticket-email-info {
  width: 90%;
}

.ticket-header .user-fullname {
  background: linear-gradient(to right, var(--orange-500), var(--neutral-300));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

#user-email {
  color: var(--orange-500);
}

.ticket-card-layout {
  display: flex;
  background-image: url(./assets/images/pattern-ticket.svg);
  margin: 3em auto;
  max-width: 90%;
  padding: 1.05em 0.55em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4%;
  border-left: 1.5px solid var(--neutral-0);
  border-right: 1.5px solid var(--orange-500);
  align-items: center;
  justify-content: space-between;
}

.ticket-card-left {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5em;
}
.ticket-card-right {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ticket-code {
  transform: rotate(90deg);
  font-size: 0.75rem;
  margin: 0;
  color: var(--neutral-500);
}

.ticket-card-left-top {
  display: flex;
  align-items: flex-start;
  gap: 0.45em;
}

.ticket-card-left-bottom {
  display: flex;
  align-items: center;
  gap: 0.45em;
}

#conf-logo {
  width: 1.5em;
}

.conf-detail-layout h3 {
  font-size: 0.95rem;
  margin-bottom: 0.5em;
}
.conf-detail-layout p {
  font-size: 0.65rem;
  color: var(--neutral-300);
}

.user-details-layout .user-fullname {
  font-size: 0.95rem;
  margin-bottom: 0.5em;
  font-weight: var(--light-font);
}

#user-image {
  width: 2.45em;
  border-radius: 15%;
}

.github-details-layout {
  display: flex;
  align-items: center;
  gap: 0.1em;
}
#github-icon {
  width: 0.8em;
}
#user-github-username {
  font-size: 0.6rem;
  color: var(--neutral-300);
}

/* TABLET SCREEN SIZE */

/* DESKTOP SCREEN SIZE */
